body {
    background-image: url('../images/home-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-fluid h1 {
    margin-bottom: 20px; 
    font-size: 2.5rem;
    font-weight: bold;
}

.container-fluid h4 {
    margin-bottom: 20px; 
    font-size: 0.8rem;
    text-align: justify;
    font-weight: bold;
}
